<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>

        <typeAlias type="com.recipe.vo.MemberVO" alias="member"/>
        <typeAlias type="com.recipe.vo.AuthVO" alias="auth"/>

        <typeAlias type="com.recipe.vo.MypageVO" alias="mypage"/>
        <typeAlias type="com.recipe.vo.CategoryVO" alias="category"/>
        <typeAlias type="com.recipe.vo.SubscribeVO" alias="sub" />
        <typeAlias type="com.recipe.vo.BookmarkVO" alias="book" />
        
		<typeAlias type="com.recipe.vo.CommuVO" alias="commu"/>
		<typeAlias type="com.recipe.vo.CommuReplyVO" alias="commu_reply"/>

        <typeAlias type="com.recipe.vo.ReplyVO" alias="reply"/>
        <typeAlias type="com.recipe.vo.PostVO" alias="post"/>
        <typeAlias type="com.recipe.vo.ContentVO" alias="content"/>
        <typeAlias type="com.recipe.vo.ReportVO" alias="report"/>

    </typeAliases>
</configuration>