
#contents{
	min-width : max-content;
}
#h123{
	max-width:1240px;
	height:auto;
	display:flex;
	flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    
    
    
}

#category{
	min-width: 650px;
    max-width: 1240px;
    height: 35px;
    display: inline-flex;
   
 
    
     
}
#category button{
	/*border-radius: 5px;
    background-color: var(--back-point-color);
    padding-left: 5px;
    padding-right: 5px;
    margin-left:5px;
    margin-right: 5px;
    width:max;*/
    
    border-style: solid;
    border-right-width: 0px;
    width: 100px;
    font-size: 14px;
    border-color: gray;
    color:#e98b0c;
    background-color: #FAEEBF;
}
#category button:hover{
	background-color: var(--back-point-color);
	font-size: 18px;
	color:#808000;
}
#category button.button1{
	border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
#category button.button2{
	border-top-right-radius: 4px;
    border-bottom-right-radius:4px;
    border-right-width: 2px;
}
#dash{
	width:100%;
	height:10px;
    border-bottom: dotted 3px #ffffff;
    margin-bottom: 10px;
    margin-top:5px;
}
#tow1{
	width:100%;
	height: auto;
	display: flex;
	justify-content: center;
}
#two{
	width: 5%;
    height: auto;
    display: flex;
    text-align: left;
    flex-direction: column;
    align-items: left;
    margin-right: 10px;
    border-right: dotted #ffffff 2px;  
    
}
#two span{
	margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 10px;
    background-color: var(--nomal-color);
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}

#three{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;  
}
#three div{
	margin-top:2px;
	margin-bottom:2px;
}
#three a{
	margin: 5px 3px 5px 3px;
	
}

#fimage{
	width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    
	
}
#image{
	width: 1000px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#image>div{
    width: 300px;
    height: 340px;
    background: var(--back-header-color);
    margin-top: 10px;
    margin-bottom: 10px;
    
    border: solid 3.5px var(--point-color);
}
#image img {
	border-bottom:solid 3.5px var(--point-color);
}
#span1{
	margin-left:3px;
	float: left;
}
#span2{
	margin-right:3px;
	float: right;
}
#num{
	width: auto;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    margin-left: 35%;
    margin-right: 35%;
    outline-color: #c0c0c0;
    list-style:none;
}
#num li{
	margin:0px 6px 0px 6px;
}
#nav1{
	display: flex;
	justify-content: space-evenly;
	
}
